<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>トップメニュー</title>
</head>
<body>
    <h1>アプリ トップメニュー</h1>
    
    <ul>
        <li>
            <a href="/lol/champs">LoL チャンピオン一覧</a>
        </li>
        <li>
            <a href="/lol/items">LoL アイテム一覧</a>
        </li>
        <li>
            <a href="/valorant/agents">Valorantエージェント一覧</a>
        </li>
    </ul>

    <hr>
    


</body>
</html>